<div id="add-kisaaja" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Lisää kisaaja</h2>
        </div>
        <div class="uk-modal-body">
          {% include 'forms/kisaaja.html' %}
        </div>
    </div>
</div>

<div id="edit-kisaaja" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Heidi Lehtonen</h2>
        </div>
        <div class="uk-modal-body">
          {% include 'forms/kisaaja.html' %}
        </div>
    </div>
</div>

<div id="kisaajainfo" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Osallistujan tiedot</h2>
        </div>
        <div class="uk-modal-body" id="kisaajainfo-content">

        </div>
    </div>
</div>
