<div id="add-laji" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Lisää laji</h2>
        </div>
        <div class="uk-modal-body">
          {% include '../forms/laji.html' %}
        </div>
    </div>
</div>

<div id="lajityyppiapu" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Lisää laji</h2>
        </div>
        <div class="uk-modal-body">
          <!-- start slipsum code -->

<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>

<!-- end slipsum code -->
        </div>
    </div>
</div>
