{% extends "jinja2/base.html.j2" %}
{% block title %}Kisaaja {{ kisaaja_id }}{% endblock %}
{% block content %}
<div  class="uk-container">
  <h1 class="uk-heading-line uk-text-center"><span>{{ kisaaja.nimi_etu }} {{ kisaaja.nimi_suku }}</span></h1>

  <dl class="uk-description-list">
      <dt>Nimi</dt>
      <dd>{{ kisaaja.nimi_etu }} {{ kisaaja.nimi_suku }}</dd>
      <dt>Sähköpostiosoite</dt>
      <dd>{{ kisaaja.email }}</dd>
      <dt>Ruokarajoitteet</dt>
      <dd>{{ kisaaja.ruoka_allergiat }}</dd>
      <dt>Kisat (TODO)</dt>
      <dd><a href="#">Talvikisat 2017</a><br><a href="#">Kesäkisat 2016</a></dd>
  </dl>

  <p>
    <a onclick="editKisaaja( '{{kisaaja.id }}' )" uk-toggle class="uk-button-primary uk-button">Muokkaa</a>
    <a href="#" uk-toggle class="uk-button-secondary uk-button">Liitä kisaan</a>
    <a href="#" class="uk-button-danger uk-button">Poista</a>
  </p>
</div>

{% endblock %}
