{% extends "jinja2/base.html.j2" %}
{% block title %}Kisaajat{% endblock %}
{% block content %}
<div  class="uk-container">
  <h1 class="uk-heading-line uk-text-center"><span>{{ kisa.name }} - osallistujat</span></h1>

  <p><a href="#add-kisaaja" uk-toggle class="uk-button-primary uk-button">Lisää kisaaja</a>
    <a href="#maili" uk-toggle class="uk-button-default uk-button">Lähetä sähköpostia</a></p>
   {% if kisaajalista %}
   <table class="uk-table uk-table-divider uk-table-striped uk-table-middle">
    <thead>
        <tr>
            <th><input class="uk-checkbox" /></th>
            <th>Nimi</th>
            <th class="uk-text-center uk-width-small">Maksanut</th>
            <th class="uk-width-small "></th>
        </tr>
    </thead>
    <tbody>
      {% for kisaaja in kisaajalista %}
        <tr>
            <td><input class="uk-checkbox" /></td>
            <td><a href="/kisa/kisaaja/{{ kisaaja.id }}/">{{ kisaaja.name }}</a></td>
            <td class="uk-text-center"> {% if forloop.counter == 1 %}<span uk-icon="icon: happy">{% else %}<span uk-icon="icon: minus">{% endif %}</td>
            <td class="uk-text-right"><button onclick="osallistujaInfo('1')" class="uk-button uk-button-default" type="button">
              <span uk-icon="icon: info"></span></button></td>
        </tr>
      {% endfor %}


   </table>
	{% else %}
      <p>Ei kisaajia :(</p>
	{% endif %}
</div>

{% endblock %}
