{% extends "kisa/base.html" %}
{% block title %}Kisaajat{% endblock %}
{% block content %}
<div  class="uk-container">
  <h1 class="uk-heading-line uk-text-center"><span>{{ kisa.name }} - osallistujat</span></h1>

   {% if kisaajalista %}
   <table class="uk-table uk-table-divider uk-table-striped uk-table-middle">
    <thead>
        <tr>
            <th>Nimi</th>
            <th class="uk-text-center uk-width-small">Maksanut</th>
            <th class="uk-width-small "></th>
        </tr>
    </thead>
    <tbody>
      {% for kisaaja in kisaajalista %}
        <tr>
            <td><a href="/kisa/kisaaja/{{ kisaaja.id }}/">{{ kisaaja.name }}</a></td>
            <td class="uk-text-center"> {% if forloop.counter == 1 %}<span uk-icon="icon: happy">{% endif %}</td>
            <td class="uk-text-right"><button class="uk-button uk-button-default" type="button"><span uk-icon="icon: pencil"></span></button></td>
        </tr>
      {% endfor %}


   </table>
	{% else %}
      <p>Ei kisaajia :(</p>
	{% endif %}
  <p><a href="#add-kisaaja" uk-toggle class="uk-button-primary uk-button">Lisää kisaaja</a></p>
</div>
{% include 'kisa/modals/kisaaja_modals.html' %}
{% endblock %}
