<div id="edit-kisa" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Kesäkisat 2017</h2>
        </div>
        <div class="uk-modal-body">
          {% include 'jinja2/forms/kisa.html.j2' %}
        </div>
    </div>
</div>
