<div id="maili" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Lähetä sähköpostia osallistujille</h2>
        </div>
        <div class="uk-modal-body" id="kisaajainfo-content">
          Lomake tai vaihtoehtoisesti vain poimitaan kaikki mailiosoitteet, jotka voi sitten pasteta vastaanottajiksi mailiin.
        </div>
    </div>
</div>
