<form action="#" method="post">
{% csrf_token %}
{% csrf_token %}
<div class="uk-margin">
    <div class="uk-form-controls">
        <input class="uk-input" name="lajinnimi" type="text" placeholder="Lajin nimi">
    </div>
</div>
<div class="uk-margin">
    <div class="uk-form-controls">
        <textarea class="uk-textarea" name="lajikuvaus" placeholder="Lajikuvaus"></textarea>
    </div>
</div>
<div class="uk-margin">
    <div class="uk-form-controls">
        <select class="uk-select">
          <option>Valitse tyyppi..</option>
          <option>Aikalaji</option>
          <option>Pistelaji</option>
          <option>Heitto/pituuslaji</option>
          <option>Lohkolaji</option>
          <option>Matriisi</option>
        </select>
        <br>
        <a href="/kisa/lajit/lajityyppiinfo" target="_blank">Tyyppien selitteet (avautuu uuteen ikkunaan/välilehteen)</a>
    </div>
</div>
<div class="uk-margin">
    <div class="uk-form-controls">
        <input class="uk-input" name="nimi_suku" id="nimi_suku" type="number" placeholder="Kierrosten määrä">
    </div>
</div>
<div class="uk-margin">
    <div class="uk-form-controls">
      <input class="uk-input" name="nimi_suku" id="nimi_suku" type="number" placeholder="Seuraavalle kierrokselle jatkavien määrä">
    </div>
</div>
<button type="submit" class="uk-button uk-button-primary">Lisää</button>
<a href="#" class="uk-button uk-button-secondary">Peruuta</a>
</form>
